/* import others css files */
@import url("../styles/my-loader.styles.css");
@import url("../styles/animate-marquee.styles.css");
@import url("../styles/gradient-border.styles.css");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* make it 100 - 900 variants for primary color */
  --color-primary: #D4483C;
  --color-secondary: #4488DD;
  --color-deep-dark: #070707;
  /* --color-deep-dark: #0f151d; */

  --shadow-cardLightShadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  --shadow-cardDarkShadow: rgba(0, 0, 0, 0.6) 0px 7px 29px 0px;
  --shadow-topUpShadow: 0 5px 20px rgba(0, 0, 0, .2)
}

@layer utilities {

  /* Text Colors */
  .text-foreground {
    @apply text-gray-100;
  }

  .text-muted-foreground {
    @apply text-[#B7BCC5];
  }

  /* Backgrounds */
  .bg-muted {
    @apply bg-[#0a0a0a];
  }

  .bg-background {
    @apply bg-deep-dark;
  }

  /* Borders */
  .border-muted {
    @apply border-[#212731];
  }

  .border-border {
    @apply border-gray-700;
  }

  .text-gradient {
    @apply bg-linear-to-r from-primary via-primary to-secondary bg-clip-text text-transparent
  }


}